{{#partial "content"}}
    <div class="container">
        <div class="page-header">
            <h1>Welcome to hero squad!! </h1>
            <h5><a href="/heroes/new">Add new hero</a></h5>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}